@font-face {
  font-family: "Roboto";
  src: url("./Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Shrikhand";
  src: url("./Shrikhand/Shrikhand-Regular.ttf");
}

/* SETTINGS PAR DEFAUT */
body,
html {
  font-family: 'Roboto';
  color: black;
  margin: 0;
  z-index: 0;
  background-color: white;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 30px;
}

/* LOADER */
.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: loading 3s ease-in-out;
          animation: loading 3s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loader .dot {
  height: 25px;
  width: 25px;
  margin: 5px;
  background-color: #F6F6F6;
  border-radius: 50%;
  display: inline-block;
  -webkit-animation: dotcolor 1.5s ease-in-out infinite;
          animation: dotcolor 1.5s ease-in-out infinite;
}

.loader .dot1 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.loader .dot2 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.loader .dot3 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes dotcolor {
  from {
    background-color: #9356dc;
  }
  50% {
    background-color: #FF79DA;
  }
  to {
    background-color: #99E2D0;
  }
}

@keyframes dotcolor {
  from {
    background-color: #9356dc;
  }
  50% {
    background-color: #FF79DA;
  }
  to {
    background-color: #99E2D0;
  }
}

@-webkit-keyframes loading {
  from {
    z-index: 100;
  }
  to {
    opacity: 0.5;
    z-index: -100;
  }
}

@keyframes loading {
  from {
    z-index: 100;
  }
  to {
    opacity: 0.5;
    z-index: -100;
  }
}

/* ANIMATION APPARITION INDEX & MENU */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.food_card {
  -webkit-animation: fadein 3s ease-in-out;
          animation: fadein 3s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.fadein1,
.fadein2,
.fadein3,
.fadein4 {
  opacity: 0;
}

.fadein1 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.fadein2 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.fadein3 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.fadein4 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

header,
main {
  -webkit-animation: fadein 2s ease-in-out;
          animation: fadein 2s ease-in-out;
}

/* ANIMATION BOUTONS */
input.book-btn,
input.order-btn {
  width: auto;
  padding: 15px;
  font-size: 18px;
  font-family: 'Roboto';
  color: white;
  border: none;
  border-radius: 25px;
  background: linear-gradient(170deg, #FF79DA, #9356dc);
  -webkit-box-shadow: 5px 5px 10px 5px #EAEAEA;
          box-shadow: 5px 5px 10px 5px #EAEAEA;
  cursor: pointer;
}

input.book-btn:hover,
input.order-btn:hover {
  -webkit-filter: brightness(115%);
          filter: brightness(115%);
  -webkit-box-shadow: 5px 5px 10px 5px #808080;
          box-shadow: 5px 5px 10px 5px #808080;
  -webkit-transform: scale(1.015);
          transform: scale(1.015);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

/* ANIMATIONS CHECK MENU */
@-webkit-keyframes slidein {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
}
@keyframes slidein {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
}

@-webkit-keyframes textslide {
  from {
    width: auto;
  }
  to {
    width: 220px;
  }
}

@keyframes textslide {
  from {
    width: auto;
  }
  to {
    width: 220px;
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* ANIMATION LIKE */
.like {
  color: black;
  width: 0;
  line-height: 0;
  position: relative;
}

.like i:nth-child(1),
.like i:nth-child(2) {
  position: absolute;
}

.like i:nth-child(2) {
  opacity: 0;
  background: linear-gradient(40deg, #FF79DA, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.like:hover {
  cursor: pointer;
}

.like:hover i:nth-child(1) {
  opacity: 0;
}

.like:hover i:nth-child(2) {
  -webkit-animation: opacity 2s ease-in;
          animation: opacity 2s ease-in;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.5;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.5;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

/* HEADER */
header {
  margin: 0;
}

header .logo,
header .location,
header .book,
header h2,
header .menu_list,
header .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  padding-top: 30px;
}

header .logo .return_mobile {
  display: none;
}

header .location {
  margin-top: 20px;
  padding: 10px;
  background-color: #EAEAEA;
  -webkit-box-shadow: inset 0 2px 5px darkgray;
          box-shadow: inset 0 2px 5px darkgray;
}

header p {
  margin-top: 0;
}

header form input {
  border: none;
  background-color: #EAEAEA;
  color: black;
  font-family: 'Roboto';
  font-size: 16px;
  width: 110px;
}

header .book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #F6F6F6;
  padding-bottom: 30px;
}

header li {
  font-weight: bolder;
  font-size: 16px;
  padding: 25px;
  border-radius: 20px;
  background-color: #F6F6F6;
  -webkit-box-shadow: 0 0 10px 5px #EAEAEA;
          box-shadow: 0 0 10px 5px #EAEAEA;
  margin: 30px 30px 30px 0;
  cursor: pointer;
}

header li:hover {
  background-color: rgba(147, 86, 220, 0.1);
}

header li i {
  color: #808080;
  padding-right: 15px;
}

header .number {
  position: relative;
  color: white;
  background-color: #9356dc;
  border-radius: 25px;
  height: 0;
  width: 0;
  padding: 15px 15px;
  margin-right: -10px;
}

header .number:hover {
  background-color: #9356dc;
}

/* MAIN INDEX */
#main {
  background-color: #F6F6F6;
  padding: 5px 0 20px 0;
}

#main h2,
#main .restaurants,
#main .like,
#main .new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main .card {
  position: relative;
  width: 80%;
  height: 200px;
  margin: 20px;
  border-radius: 25px;
  -webkit-box-shadow: 0 0 10px 5px #EAEAEA;
          box-shadow: 0 0 10px 5px #EAEAEA;
  padding-bottom: 5px;
}

#main .card img {
  width: 100%;
  height: 135px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px 25px 0 0;
}

#main .card h2 {
  font-size: 20px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin: 5px 0 5px 10px;
}

#main .card p {
  font-size: 16px;
  margin: 5px 0 5px 10px;
}

#main .card .new {
  width: 70px;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 8px;
  border-radius: 5px;
  background-color: #99E2D0;
  font-weight: bolder;
  color: #1b6150;
}

#main .card .like {
  bottom: 10%;
  left: 95%;
}

#main .card:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

/* MAIN PAGES RESTAURANTS */
#page {
  margin: 0;
  background-color: #F6F6F6;
}

#page .img_restaurant img,
#page .restaurant {
  width: 100%;
}

#page img {
  height: 30vh;
  z-index: 1;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}

#page .restaurant {
  background-color: #F6F6F6;
  border-radius: 40px 40px 0 0;
  position: relative;
  top: -40px;
  z-index: 2;
}

#page .restaurant .title,
#page .restaurant .food,
#page .restaurant .food_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#page .restaurant .title {
  font-family: 'Shrikhand';
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#page .restaurant .title .like {
  font-size: 30px;
  top: -15px;
  left: 30px;
}

#page .restaurant .food_title {
  color: #808080;
  text-transform: uppercase;
  font-weight: lighter;
}

#page .restaurant .food_title p {
  position: relative;
}

#page .restaurant .food_title p::after {
  content: "";
  position: absolute;
  left: 0%;
  bottom: -2.5px;
  width: 40px;
  height: 4px;
  background-color: #99E2D0;
}

#page .restaurant .food {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#page .restaurant .food .food_card {
  cursor: pointer;
  background-color: white;
  border-radius: 25px;
  width: 25%;
  height: 80px;
  padding: 10px;
  margin: 20px;
  -webkit-box-shadow: 5px 5px 10px 5px #EAEAEA;
          box-shadow: 5px 5px 10px 5px #EAEAEA;
  position: relative;
}

#page .restaurant .food .food_card:hover {
  -webkit-box-shadow: 5px 5px 10px 5px #808080;
          box-shadow: 5px 5px 10px 5px #808080;
}

#page .restaurant .food .food_card:hover .check {
  background: #99E2D0;
  width: 90px;
}

#page .restaurant .food .food_card:hover i {
  color: white;
  opacity: 1;
  -webkit-animation: rotate 0.5s ease-in-out;
          animation: rotate 0.5s ease-in-out;
}

#page .restaurant .food .food_card:hover .price,
#page .restaurant .food .food_card:hover .price h1 {
  -webkit-animation: slidein 0.8s ease-out;
          animation: slidein 0.8s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#page .restaurant .food .food_card:hover h1,
#page .restaurant .food .food_card:hover p {
  -webkit-animation: textslide 1s ease-in-out;
          animation: textslide 1s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#page .restaurant .food .food_card h1 {
  font-size: 18px;
}

#page .restaurant .food .food_card .price {
  width: 50px;
  position: absolute;
  top: 25%;
  right: 5%;
}

#page .restaurant .food .food_card .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  border-radius: 0 25px 25px 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 100%;
  -webkit-transition: background 0.5s, width 1s;
  transition: background 0.5s, width 1s;
}

#page .restaurant .food .food_card i {
  opacity: 0;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#page .restaurant .order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px;
}

/* FOOTER */
footer,
.footer p,
.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #353535;
}

footer p,
.footer p p,
.footer ul p {
  font-family: "Shrikhand";
  color: white;
  font-size: 20px;
}

footer ul,
.footer p ul,
.footer ul ul {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
  color: white;
}

footer ul a,
.footer p ul a,
.footer ul ul a {
  color: white;
}

footer li,
.footer p li,
.footer ul li {
  padding: 0 50px 0 50px;
}

footer li i,
.footer p li i,
.footer ul li i {
  padding-right: 10px;
}

/* MEDIA QUERIES */
/* TABLETTE */
@media (min-width: 768px) and (max-width: 991px) {
  /* HEADER */
  header .logo {
    padding: 15px;
  }
  header .logo .return_mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 5%;
  }
  header .logo img {
    height: 30px;
  }
  header .location {
    margin: 0;
  }
  header li {
    text-align: center;
  }
  /* MAIN INDEX */
  #main .restaurants {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  #main .card .new {
    left: 80%;
  }
  /* MAIN PAGES RESTAURANTS */
  #page img {
    height: 35vh;
  }
  #page .restaurant {
    top: 30vh;
  }
  #page .restaurant .food {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  #page .restaurant .food .food_card {
    width: 90%;
  }
}

/* MOBILE */
@media (max-width: 768px) {
  h1,
  h2 {
    font-size: 24px;
    font-weight: bolder;
  }
  /* HEADER */
  header .logo {
    padding: 15px;
  }
  header .logo .return_mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 5%;
  }
  header .logo img {
    height: 30px;
  }
  header .location {
    margin: 0;
  }
  header .book {
    padding-bottom: 50px;
    text-align: center;
  }
  header .book p {
    margin: 0 10px 20px 10px;
  }
  header .menu h2 {
    margin: 20px 0 0 20px;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  header .menu_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  header .menu_list li {
    text-align: left;
    margin: 0 60px 0 30px;
    width: 250px;
  }
  header .menu_list .number {
    width: 0;
    position: relative;
    top: 50px;
    right: 150px;
  }
  /* MAIN INDEX */
  #main {
    margin-top: 50px;
  }
  #main h2 {
    margin: 20px 0 0 20px;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  #main .restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #main .card .new {
    left: 65%;
  }
  /* MAIN PAGES RESTAURANTS */
  #page img {
    height: 25vh;
  }
  #page .restaurant .title {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    padding: 20px 0 0 10px;
  }
  #page .restaurant .food_title {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    padding-left: 10px;
  }
  #page .restaurant .food {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  #page .restaurant .food .food_card {
    width: 90%;
    margin: 10px;
    height: 55px;
  }
  #page .restaurant .food .food_card h1,
  #page .restaurant .food .food_card p {
    margin: 5px;
  }
  #page .restaurant .order {
    padding: 85px;
  }
  /* FOOTER */
  footer,
  .footer p,
  .footer ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding-left: 10px;
  }
  footer li,
  .footer p li,
  .footer ul li {
    padding: 5px 0 0 0;
  }
}
/*# sourceMappingURL=style.css.map */