@font-face {
    font-family: "Roboto";
    src: url("./Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Shrikhand";
    src: url("./Shrikhand/Shrikhand-Regular.ttf");
}

/* SETTINGS PAR DEFAUT */

body, html {
    font-family: 'Roboto';
    color: black;
    margin: 0;
    z-index: 0;
    background-color: white;
}

$primary: #9356dc;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$dark-gray: #EAEAEA;
$light-gray: #F6F6F6;
$icon: #808080;
$footer: #353535;

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 30px;
}

/* LOADER */

.loader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $footer;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loading 3s ease-in-out;
    animation-fill-mode: forwards;
    .dot {
        height: 25px;
        width: 25px;
        margin: 5px;
        background-color: $light-gray;
        border-radius: 50%;
        display: inline-block;
        animation: dotcolor 1.5s ease-in-out infinite;
    }
    .dot1 {
        animation-delay: 0s;
    }
    .dot2 {
        animation-delay: 0.5s;
    }
    .dot3 {
        animation-delay: 1s
    }
  }

@keyframes dotcolor {
    from {
        background-color: $primary;
    }
    50% {
        background-color: $secondary;
    }
    to {
        background-color: $tertiary;
    }
}

@keyframes loading {
    from {
        z-index: 100;
    }
    to {
        opacity: 0.5;
        z-index: -100;
    }
}

/* ANIMATION APPARITION INDEX & MENU */

@keyframes fadein {
    from {
        opacity:0;
        transform: translateY(15px);
    }
    to {
        opacity:1;
        transform: translateY(0px);
    }
}

.food_card {
    animation: fadein 3s ease-in-out;
    animation-fill-mode: forwards;
}

.fadein1, .fadein2, .fadein3, .fadein4 {
    opacity: 0;
}
.fadein1 {
    animation-delay: 0s;
}
.fadein2 {
    animation-delay: 0.5s;
}
.fadein3 {
    animation-delay: 1s;
}
.fadein4 {
    animation-delay: 1.5s;
}

header, main {
    animation: fadein 2s ease-in-out;
}

/* ANIMATION BOUTONS */

input.book-btn, input.order-btn {
    width: auto;
    padding: 15px;
    font-size: 18px;
    font-family: 'Roboto';
    color: white;
    border: none;
    border-radius: 25px;
    background: linear-gradient(170deg, $secondary, $primary);
    box-shadow: 5px 5px 10px 5px $dark-gray;
    cursor: pointer;
    &:hover {
        filter: brightness(115%);
        box-shadow: 5px 5px 10px 5px $icon;
        transform: scale(1.015);
        transition: all .3s ease-in-out;
    }
}

/* ANIMATIONS CHECK MENU */

@keyframes slidein {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(-70px);
    }
}

@keyframes textslide {
    from {
        width: auto;
    }
    to {
        width: 220px;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }    
}

/* ANIMATION LIKE */

.like {
    color: black;
    width: 0;    
    line-height: 0;
    position: relative;
    i:nth-child(1), i:nth-child(2) {
        position: absolute;
    }
    i:nth-child(2) {
        opacity: 0;
        background: linear-gradient(40deg, $secondary, $primary);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
    &:hover {
        cursor: pointer;
        i:nth-child(1) {
            opacity: 0;
        }
        i:nth-child(2) {
            animation: opacity 2s ease-in;
        }
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0.5;
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

/* HEADER */

header {
    margin: 0;
    .logo, .location, .book, h2, .menu_list, .number {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo {
        padding-top: 30px;
        .return_mobile {
            display: none;
        }
    }
    .location {
        margin-top: 20px;
        padding: 10px;
        background-color: $dark-gray;
        box-shadow: inset 0 2px 5px darkgray; 
    }
    p {
        margin-top: 0;
    }
    form input {
        border: none;
        background-color: $dark-gray;
        color: black;
        font-family: 'Roboto';
        font-size: 16px;
        width: 110px;
    }
    .book {
        display: flex;
        flex-direction: column;
        background-color: $light-gray;
        padding-bottom: 30px;
    }
    li {
        font-weight: bolder;
        font-size: 16px;
        padding: 25px;
        border-radius: 20px;
        background-color: $light-gray;
        box-shadow: 0 0 10px 5px $dark-gray;
        margin: 30px 30px 30px 0;
        cursor: pointer;
        &:hover {
            background-color: rgba(147, 86, 220, 0.1);
        }
    }
    li i {
        color: $icon;
        padding-right: 15px;
    }
    .number {
        position: relative;
        color: white;
        background-color: $primary;
        border-radius: 25px;
        height: 0;
        width: 0;
        padding: 15px 15px;
        margin-right: -10px;
        &:hover {
            background-color: $primary;
        }
    }
}

/* MAIN INDEX */

#main {
    background-color: $light-gray;
    padding: 5px 0 20px 0;
    h2, .restaurants, .like, .new {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card {
        position: relative;
        width: 80%;
        height: 200px;
        margin: 20px;
        border-radius: 25px;
        box-shadow: 0 0 10px 5px $dark-gray;
        padding-bottom: 5px;
        img {
            width: 100%;
            height: 135px;
            object-fit: cover;
            border-radius: 25px 25px 0 0;
        }
        h2 {
            font-size: 20px;
            justify-content: left;
            margin: 5px 0 5px 10px;
        }
        p {
            font-size: 16px;
            margin: 5px 0 5px 10px;
        }
        .new {
            width: 70px;
            position: absolute;
            top: 10px;
            right: 10px;
            padding: 8px;
            border-radius: 5px;
            background-color: $tertiary;
            font-weight: bolder;
            color: darken($tertiary, 50%);
        }
        .like {
            bottom: 10%;
            left: 95%;
        }
        &:hover {
            transform: scale(1.02);
            transition: all .3s ease-in-out;
        }
    }
}

/* MAIN PAGES RESTAURANTS */

#page {
    margin: 0;
    .img_restaurant img,.restaurant {
        width: 100%;
    }
    img {
        height: 30vh;
        z-index: 1;
        position: relative;
        object-fit: cover;
    }
    .restaurant {
        background-color: $light-gray;
        border-radius: 40px 40px 0 0;
        .title, .food, .food_title {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .title {
            font-family: 'Shrikhand';
            justify-content: center;
            .like {
                font-size: 30px;
                top: -15px;
                left: 30px;
            }
        }
        .food_title {
            color: $icon;
            text-transform: uppercase;
            font-weight: lighter;
            p {
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    left: 0%;
                    bottom: -2.5px;
                    width: 40px;
                    height: 4px;
                    background-color: $tertiary;
                }
              }
        }
        .food {
            flex-flow: row wrap;
            justify-content: space-around;            
        .food_card {
            cursor: pointer;
            background-color: white;
            border-radius: 25px;
            width: 25%;
            height: 80px;
            padding: 10px;
            margin: 20px;
            box-shadow: 5px 5px 10px 5px $dark-gray;
            position: relative;
            &:hover {
                box-shadow: 5px 5px 10px 5px $icon;
                .check {
                    background: $tertiary;
                    width: 90px;
                }
                i {
                    color: white;
                    opacity: 1;
                    animation: rotate 0.5s ease-in-out;
                }
                .price {
                    animation: slidein 0.8s ease-out;
                    animation-fill-mode:forwards;
                }
                h1, p {
                    animation: textslide 1s ease-in-out;
                    animation-fill-mode: forwards;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
            h1 {
                font-size: 18px;
            }
            .price {
                width: 40px;
                position: absolute;
                top: 25%;
                right: 5%;
            }
            .check {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                border-radius: 0 25px 25px 0;
                position: absolute;
                right: 0;
                top: 0;
                width: 0;
                height: 100%;
                transition: background 0.5s, width 1s;
            }
            i {
                opacity: 0;
                font-size: 25px;
                display: flex;
                height: 100%;
                align-items: center;
                justify-content: center;
            }
        }
        }
        .order {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 50px;
        }
    }
}

/* FOOTER */

footer, .footer p, .footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $footer;
    p {
        font-family: "Shrikhand";
        color: white;
        font-size: 20px;
    }
    ul {
        flex-direction: row;
        padding: 0;
        color: white;
        a {
            color: white;
        }
    }
    li {
        padding: 0 50px 0 50px;
        i {
            padding-right: 10px;
        }
    }
}

/* MEDIA QUERIES */

/* TABLETTE */

@media (min-width: 768px) and (max-width: 991px) {

    /* HEADER */

    header {
        .logo {
            padding: 15px;
            .return_mobile {
                display: flex;
                position: absolute;
                left: 5%;
            }
            img {
                height: 30px;
            }
        }
        .location {
            margin: 0;
        }
        li {
            text-align: center;
        }
    }

    /* MAIN INDEX */

    #main {
        .restaurants {
            flex-flow: column wrap;
        }
        .card .new {
                left: 80%;
        }
    }

    /* MAIN PAGES RESTAURANTS */

    #page {
        img {
            height: 35vh;
        }
        .restaurant {
            top: 30vh;
            .food {
                flex-flow: column wrap;
                .food_card {
                    width: 90%;
                }
            }
        }
    }
}

/* MOBILE */

@media (max-width: 768px) {

    h1, h2 {
        font-size: 24px;
        font-weight: bolder;
    }

    /* HEADER */

    header {
        .logo {
            padding: 15px;
            .return_mobile {
                display: flex;
                position: absolute;
                left: 5%;
            }
            img {
                height: 30px;
            }
        }
        .location {
            margin: 0;
        }
        .book {
            padding-bottom: 50px;
            text-align: center;
            p {
                margin: 0 10px 20px 10px;
            };
        }
        .menu h2 {
            margin: 20px 0 0 20px;
            justify-content: left;
        }
        .menu_list {
            display: flex;
            flex-direction: column;
            margin: 0;
            li {
                text-align: center;
                margin: 0 60px 0 30px;
                width: 250px;
            }
            .number {
                width: 0;
                position: relative;
                top: 50px;
                right: 150px;
            }
        }
    }

    /* MAIN INDEX */

    #main {
        margin-top: 50px;
        h2 {
            margin: 20px 0 0 20px;
            justify-content: left;
        }
        .restaurants {
            display: flex;
            flex-direction: column;
        }
        .card .new {
            left: 65%;
        }
    }

    /* MAIN PAGES RESTAURANTS */

    #page {
        img {
            height: 25vh;
        }
        .restaurant {
            top: 20vh;
            .title {
                justify-content: left;
                padding: 20px 0 0 10px;
            }
            .food_title {
                justify-content: left;
                padding-left: 10px;
            }
            .food {
                flex-flow: column wrap;
                align-items: start;
                .food_card {
                    width: 90%;
                    margin: 10px;
                    height: 55px;
                    h1, p {
                        margin: 5px;
                    }
                }
            }
            .order {
                padding: 85px;
            }
            
        }
        
    }

    /* FOOTER */

    footer, .footer p, .footer ul {
        flex-direction: column;
        justify-content: left;
        align-items: start;
        padding-left: 10px;
        li {
            padding: 5px 0 0 0;
        }
    }
}